In [1]:
import pandas as pd
import numpy as np

print("=" * 60)
print("CLEANING CUSTOMER DATA")
print("=" * 60)

# Read the Customer CSV file
df_customers = pd.read_csv('C:/Users/Admin/Desktop/M5-20260106/sample-data/03_Library SystemCustomers.csv')

print("\nOriginal data shape:", df_customers.shape)
print("\nFirst few rows:")
print(df_customers.head())

============================================================
CLEANING CUSTOMER DATA
============================================================

Original data shape: (9, 2)

First few rows:
   Customer ID   Customer Name
0          1.0        Jane Doe
1          2.0      John Smith
2          3.0      Dan Reeves
3          NaN             NaN
4          5.0  William Holden

In [2]:
# Check for missing values
print("\n--- Missing Values Check ---")
missing_count = df_customers.isnull().sum()
print(missing_count)
print(f"Total rows with missing values: {df_customers.isnull().any(axis=1).sum()}")

# Convert Customer ID to integer (before removing other missing values)
print("\n--- Converting Customer ID to Integer ---")
# First, remove rows where Customer ID is missing
df_customers = df_customers.dropna(subset=['Customer ID'])
df_customers['Customer ID'] = df_customers['Customer ID'].astype(int)
print("Customer ID converted to integer")

# Remove rows with missing values in any column
df_customers_cleaned = df_customers.dropna()
print(f"\nAfter removing all missing values: {df_customers_cleaned.shape}")

# Check for duplicates
print("\n--- Duplicate Check ---")
duplicate_count = df_customers_cleaned.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

# Remove duplicates
df_customers_cleaned = df_customers_cleaned.drop_duplicates()
print(f"After removing duplicates: {df_customers_cleaned.shape}")

# Standardize column names (capitalize first letter, replace spaces with _)
print("\n--- Standardizing Column Names ---")
df_customers_cleaned.columns = df_customers_cleaned.columns.str.replace(' ', '_').str.title()
print(f"New column names: {list(df_customers_cleaned.columns)}")

# Display summary
print("\n--- Customer Data Cleaning Summary ---")
print(f"Original rows: {len(df_customers)}")
print(f"Rows removed (missing values): {len(df_customers) - len(df_customers.dropna())}")
print(f"Rows removed (duplicates): {len(df_customers.dropna()) - len(df_customers_cleaned)}")
print(f"Final rows: {len(df_customers_cleaned)}")

--- Missing Values Check ---
Customer ID      1
Customer Name    1
dtype: int64
Total rows with missing values: 1

--- Converting Customer ID to Integer ---
Customer ID converted to integer

After removing all missing values: (8, 2)

--- Duplicate Check ---
Number of duplicate rows: 0
After removing duplicates: (8, 2)

--- Standardizing Column Names ---
New column names: ['Customer_Id', 'Customer_Name']

--- Customer Data Cleaning Summary ---
Original rows: 8
Rows removed (missing values): 0
Rows removed (duplicates): 0
Final rows: 8

In [3]:
# Save cleaned customer data
df_customers_cleaned.to_csv('output-data/cleaned_customers.csv', index=False)
print("\nCleaned customer data saved to 'output-data/cleaned_customers.csv'")

print("\n" + "=" * 60)
print("CLEANING LIBRARY SYSTEM DATA")
print("=" * 60)

Cleaned customer data saved to 'output-data/cleaned_customers.csv'

============================================================
CLEANING LIBRARY SYSTEM DATA
============================================================

In [4]:
print("\n" + "=" * 60)
print("CLEANING LIBRARY SYSTEM DATA")
print("=" * 60)

# Read the Library System CSV file
df_library = pd.read_csv('C:/Users/Admin/Desktop/M5-20260106/sample-data/03_Library Systembook.csv')

print("\nOriginal data shape:", df_library.shape)
print("\nFirst few rows:")
print(df_library.head())
print("\nData types:")
print(df_library.dtypes)

============================================================
CLEANING LIBRARY SYSTEM DATA
============================================================

Original data shape: (114, 6)

First few rows:
    Id                                     Books Book checkout Book Returned  \
0  1.0                       Catcher in the Rye   "20/02/2023"    25/02/2023
1  2.0          Lord of the rings the two towers  "24/03/2023"    21/03/2023
2  3.0  Lord of the rings the return of the kind  "29/03/2023"    25/03/2023
3  4.0                                The hobbit  "02/04/2023"    25/03/2023
4  5.0                                     Dune   "02/04/2023"    25/03/2023

  Days allowed to borrow  Customer ID
0                2 weeks          1.0
1                2 weeks          2.0
2                2 weeks          3.0
3                2 weeks          4.0
4                2 weeks          5.0

Data types:
Id                        float64
Books                      object
Book checkout              object
Book Returned              object
Days allowed to borrow     object
Customer ID               float64
dtype: object

In [5]:
# Check for missing values
print("\n--- Missing Values Check ---")
missing_count = df_library.isnull().sum()
print(missing_count)
print(f"Total rows with missing values: {df_library.isnull().any(axis=1).sum()}")

# Create a copy for cleaning
df_library_cleaned = df_library.copy()

--- Missing Values Check ---
Id                        93
Books                     94
Book checkout             93
Book Returned             93
Days allowed to borrow    93
Customer ID               94
dtype: int64
Total rows with missing values: 94

In [6]:
# Standardize column names first (capitalize first letter, replace spaces with _)
print("\n--- Standardizing Column Names ---")
print(f"Original column names: {list(df_library_cleaned.columns)}")
df_library_cleaned.columns = df_library_cleaned.columns.str.replace(' ', '_').str.title()
print(f"New column names: {list(df_library_cleaned.columns)}")

# Clean book titles: remove trailing spaces, title case
print("\n--- Cleaning Book Titles ---")
if 'Books' in df_library_cleaned.columns:
    # Remove leading/trailing spaces
    df_library_cleaned['Books'] = df_library_cleaned['Books'].str.strip()
    
    # Convert to title case (capitalizes major words, lowercase for minor words)
    df_library_cleaned['Books'] = df_library_cleaned['Books'].str.title()
    print("Book titles cleaned and formatted")
    print("Sample book titles:")
    print(df_library_cleaned['Books'].head())

--- Standardizing Column Names ---
Original column names: ['Id', 'Books', 'Book checkout', 'Book Returned', 'Days allowed to borrow', 'Customer ID']
New column names: ['Id', 'Books', 'Book_Checkout', 'Book_Returned', 'Days_Allowed_To_Borrow', 'Customer_Id']

--- Cleaning Book Titles ---
Book titles cleaned and formatted
Sample book titles:
0                          Catcher In The Rye
1            Lord Of The Rings The Two Towers
2    Lord Of The Rings The Return Of The Kind
3                                  The Hobbit
4                                        Dune
Name: Books, dtype: object

In [7]:
# Remove quotation marks from Book_Checkout dates
print("\n--- Removing Quotation Marks from Dates ---")
if 'Book_Checkout' in df_library_cleaned.columns:
    df_library_cleaned['Book_Checkout'] = df_library_cleaned['Book_Checkout'].astype(str).str.replace('"', '').str.replace("'", '')
    print("Quotation marks removed from Book_Checkout column")

# Convert "2 weeks" to days (14 days)
print("\n--- Converting Weeks to Days ---")
if 'Days_Allowed_To_Borrow' in df_library_cleaned.columns:
    # Handle "2 weeks" or similar patterns
    df_library_cleaned['Days_Allowed_To_Borrow'] = df_library_cleaned['Days_Allowed_To_Borrow'].astype(str).str.lower()
    df_library_cleaned['Days_Allowed_To_Borrow'] = df_library_cleaned['Days_Allowed_To_Borrow'].str.replace('weeks', '').str.strip()
    df_library_cleaned['Days_Allowed_To_Borrow'] = pd.to_numeric(df_library_cleaned['Days_Allowed_To_Borrow'], errors='coerce') * 7
    
    # Check for any NaN values after conversion
    invalid_days_count = df_library_cleaned['Days_Allowed_To_Borrow'].isnull().sum()
    if invalid_days_count > 0:
        print(f"Warning: Found {invalid_days_count} rows that couldn't be converted to days")
        print("These rows will be removed")
        df_library_cleaned = df_library_cleaned.dropna(subset=['Days_Allowed_To_Borrow'])
    
    # Now convert to integer
    df_library_cleaned['Days_Allowed_To_Borrow'] = df_library_cleaned['Days_Allowed_To_Borrow'].astype(int)
    print("Converted weeks to days")
    print(f"Sample values: {df_library_cleaned['Days_Allowed_To_Borrow'].head().tolist()}")

--- Removing Quotation Marks from Dates ---
Quotation marks removed from Book_Checkout column

--- Converting Weeks to Days ---
Warning: Found 93 rows that couldn't be converted to days
These rows will be removed
Converted weeks to days
Sample values: [14, 14, 14, 14, 14]

In [8]:
# Convert date columns to datetime format and check for incorrect formats
print("\n--- Date Format Check ---")
date_columns = ['Book_Checkout', 'Book_Returned']

for col in date_columns:
    if col in df_library_cleaned.columns:
        print(f"\nProcessing column: {col}")
        # Count nulls before conversion
        nulls_before = df_library_cleaned[col].isnull().sum()
        
        # Try to convert to datetime, coerce errors to NaT
        df_library_cleaned[col] = pd.to_datetime(df_library_cleaned[col], errors='coerce')
        
        # Check how many invalid dates were found
        nulls_after = df_library_cleaned[col].isnull().sum()
        invalid_dates = nulls_after - nulls_before
        if invalid_dates > 0:
            print(f"  Found {invalid_dates} rows with invalid date format")

--- Date Format Check ---

Processing column: Book_Checkout
  Found 1 rows with invalid date format

Processing column: Book_Returned

C:\Users\Admin\AppData\Local\Temp\ipykernel_16636\1658277173.py:12: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_library_cleaned[col] = pd.to_datetime(df_library_cleaned[col], errors='coerce')
C:\Users\Admin\AppData\Local\Temp\ipykernel_16636\1658277173.py:12: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_library_cleaned[col] = pd.to_datetime(df_library_cleaned[col], errors='coerce')

In [9]:
# Check for negative or zero values in 'Days_Allowed_To_Borrow'
print("\n--- Days Allowed to Borrow Check ---")
if 'Days_Allowed_To_Borrow' in df_library_cleaned.columns:
    invalid_days = df_library_cleaned['Days_Allowed_To_Borrow'] <= 0
    print(f"Rows with invalid days (<=0): {invalid_days.sum()}")
    if invalid_days.sum() > 0:
        print("Sample invalid values:")
        print(df_library_cleaned[invalid_days][['Id', 'Days_Allowed_To_Borrow']].head())

# Check for logical inconsistencies (checkout date after return date)
print("\n--- Logical Consistency Check ---")
if 'Book_Checkout' in df_library_cleaned.columns and 'Book_Returned' in df_library_cleaned.columns:
    date_issue = df_library_cleaned['Book_Checkout'] > df_library_cleaned['Book_Returned']
    date_issue = date_issue.fillna(False)
    print(f"Rows where checkout date is after return date: {date_issue.sum()}")
    if date_issue.sum() > 0:
        print("Sample rows with date issues:")
        print(df_library_cleaned[date_issue][['Id', 'Book_Checkout', 'Book_Returned']].head())

--- Days Allowed to Borrow Check ---
Rows with invalid days (<=0): 0

--- Logical Consistency Check ---
Rows where checkout date is after return date: 6
Sample rows with date issues:
    Id Book_Checkout Book_Returned
1  2.0    2023-03-24    2023-03-21
2  3.0    2023-03-29    2023-03-25
3  4.0    2023-04-02    2023-03-25
4  5.0    2023-04-02    2023-03-25
6  7.0    2063-04-10    2023-04-03

In [10]:
# Remove rows with missing values in critical columns
print("\n--- Removing Rows with Missing Values ---")
rows_before = len(df_library_cleaned)
df_library_cleaned = df_library_cleaned.dropna()
rows_after = len(df_library_cleaned)
print(f"Removed {rows_before - rows_after} rows with missing values")

--- Removing Rows with Missing Values ---
Removed 2 rows with missing values

In [11]:
# Convert Customer_Id to integer
print("\n--- Converting Customer_Id to Integer ---")
if 'Customer_Id' in df_library_cleaned.columns:
    # First check if there are any missing values
    missing_customer_ids = df_library_cleaned['Customer_Id'].isnull().sum()
    if missing_customer_ids > 0:
        print(f"Warning: Found {missing_customer_ids} missing Customer_Id values")
        print("Removing rows with missing Customer_Id...")
        df_library_cleaned = df_library_cleaned.dropna(subset=['Customer_Id'])
    
    # Now convert to integer
    df_library_cleaned['Customer_Id'] = df_library_cleaned['Customer_Id'].astype(int)
    print("Customer_Id converted to integer")

# Convert Id to integer
print("\n--- Converting Id to Integer ---")
if 'Id' in df_library_cleaned.columns:
    # First check if there are any missing values
    missing_ids = df_library_cleaned['Id'].isnull().sum()
    if missing_ids > 0:
        print(f"Warning: Found {missing_ids} missing Id values")
        print("Removing rows with missing Id...")
        df_library_cleaned = df_library_cleaned.dropna(subset=['Id'])
    
    # Now convert to integer
    df_library_cleaned['Id'] = df_library_cleaned['Id'].astype(int)
    print("Id converted to integer")

--- Converting Customer_Id to Integer ---
Customer_Id converted to integer

--- Converting Id to Integer ---
Id converted to integer

In [12]:
# Check for duplicates
print("\n--- Duplicate Check ---")
duplicate_count = df_library_cleaned.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

if duplicate_count > 0:
    print("Sample duplicate rows:")
    print(df_library_cleaned[df_library_cleaned.duplicated(keep=False)].head())

# Remove duplicates
df_library_cleaned = df_library_cleaned.drop_duplicates()
print(f"After removing duplicates: {df_library_cleaned.shape}")

# Check for duplicate IDs (if ID should be unique)
print("\n--- Duplicate ID Check ---")
if 'Id' in df_library_cleaned.columns:
    duplicate_ids = df_library_cleaned['Id'].duplicated().sum()
    print(f"Number of duplicate IDs: {duplicate_ids}")
    if duplicate_ids > 0:
        print("IDs that appear multiple times:")
        print(df_library_cleaned[df_library_cleaned['Id'].duplicated(keep=False)].sort_values('Id')[['Id', 'Books']].head(10))

--- Duplicate Check ---
Number of duplicate rows: 0
After removing duplicates: (19, 6)

--- Duplicate ID Check ---
Number of duplicate IDs: 0

In [13]:
# Display summary
print("\n--- Library Data Cleaning Summary ---")
print(f"Original rows: {len(df_library)}")
print(f"Rows with invalid date formats: {invalid_dates if 'invalid_dates' in locals() else 0}")
print(f"Rows removed (missing values): {rows_before - rows_after}")
print(f"Rows removed (duplicates): {duplicate_count}")
print(f"Final rows: {len(df_library_cleaned)}")

--- Library Data Cleaning Summary ---
Original rows: 114
Rows with invalid date formats: 0
Rows removed (missing values): 2
Rows removed (duplicates): 0
Final rows: 19

In [14]:
# Save cleaned library data
df_library_cleaned.to_csv('output-data/cleaned_library_systembook.csv', index=False)
print("\nCleaned library data saved to 'output-data/cleaned_library_systembook.csv'")

# Display first few rows of cleaned data
print("\nFirst few rows of cleaned library data:")
print(df_library_cleaned.head())

print("\n" + "=" * 60)
print("CLEANING COMPLETE")
print("=" * 60)

Cleaned library data saved to 'output-data/cleaned_library_systembook.csv'

First few rows of cleaned library data:
   Id                                     Books Book_Checkout Book_Returned  \
0   1                        Catcher In The Rye    2023-02-20    2023-02-25
1   2          Lord Of The Rings The Two Towers    2023-03-24    2023-03-21
2   3  Lord Of The Rings The Return Of The Kind    2023-03-29    2023-03-25
3   4                                The Hobbit    2023-04-02    2023-03-25
4   5                                      Dune    2023-04-02    2023-03-25

   Days_Allowed_To_Borrow  Customer_Id
0                      14            1
1                      14            2
2                      14            3
3                      14            4
4                      14            5

============================================================
CLEANING COMPLETE
============================================================